.fa-angle-down {
  color: #fff !important;
}

.cabecalho .busca {
  padding: 5px;
  border: none;
  width: 5px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.cabecalho .busca:focus {
  width: 200px;
  border-bottom: solid 1px #ddd;
  outline: none;
}

.menu-principal {
  list-style: none;
  background-color: #262647;
  padding: 0;
}
.menu-principal .menu-principal-item i {
  margin-left: 12px;
  color: #8a4d93;
  margin-right: 5px;
}
.menu-principal .menu-principal-item a {
  text-decoration: none;
  color: white !important;
  margin-left: 8px;
}
.menu-principal .sub-menu {
  background-color: #7a7ca7;
}
.menu-principal .sub-menu li {
  list-style: none;
  margin-bottom: 5px;
}
.menu-principal .sub-menu li a {
  text-decoration: none !important;
  color: white;
  margin: 0 !important;
}
.menu-principal .sub-menu li::after {
  content: "";
  width: 200px;
  height: 2px;
  background: #efefef;
  display: block;
  margin-right: 13px;
}

.menu-principal .menu-principal-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .cabecalho {
    background-color: #262647;
  }
  .cabecalho nav i {
    font-size: 26px;
  }
  .cabecalho nav img {
    width: 190px;
  }
  .cabecalho nav .open {
    right: 0;
    transition: all 0.5s;
    overflow: hidden;
  }
  .cabecalho nav .fechar {
    z-index: 112;
  }

  .menu-principal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #262647;
    right: -114%;
    transition: all 0.5s;
    z-index: 100;
    padding-top: 61px;
    overflow: hidden;
    top: 62px;
  }
  .menu-principal li {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .menu-principal li a {
    color: #fff;
  }
}
@media (min-width: 992px) {
  .menu-principal {
    display: flex;
    background: none !important;
  }
  .menu-principal .menu-principal-item i {
    display: none;
  }
  .menu-principal .menu-principal-item a {
    margin-left: 9px !important;
  }
  .menu-principal .menu-principal-item .sub-menu {
    height: 98%;
  }

  .cabecalho {
    background-color: #262647;
  }
  .cabecalho img {
    width: 27%;
  }
  .cabecalho .abrir, .cabecalho .fechar {
    display: none;
  }
  .cabecalho .pesquisar {
    margin-bottom: 15px;
    margin-left: 8px;
  }
}
@media (min-width: 1200px) {
  .menu-principal {
    margin-right: 30px;
  }
  .menu-principal .menu-principal-item a {
    font-size: 20px;
    margin-right: 10px;
  }

  .cabecalho img {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .menu-principal {
    align-items: center;
  }
  .menu-principal li {
    font-size: 26px;
  }
  .menu-principal li a {
    padding-right: 15px;
  }

  .cabecalho img {
    width: 24%;
  }
}
footer div .redes-sociais {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: auto;
}

footer div .redes-sociais li {
  padding: 5px;
  font-size: 25px;
}

footer .rodape {
  background-color: #242545;
}
footer .rodape img {
  width: 150px;
  height: 50px;
  margin-top: 10px;
}
footer .rodape ul li {
  margin-left: 3px;
  margin-right: 3px;
}
footer .rodape ul li a {
  color: white !important;
  font-size: 21px;
}

@media (min-width: 768px) {
  footer div .redes-sociais {
    margin: 0 !important;
  }
  footer div .redes-sociais li a {
    font-size: 25px;
  }

  .rodape img {
    margin-top: 1px !important;
  }
}
@media (min-width: 1440px) {
  .redes-sociais li a {
    font-size: 35px !important;
  }

  .rodape img {
    margin-top: 4px !important;
  }
}
main .cabecalho-contato {
  background: url(../img/contato.png) no-repeat;
  background-size: cover;
}
main .cabecalho-contato .formulario-contato {
  align-items: center;
}
main .cabecalho-contato .formulario-contato h3 {
  margin-top: 40px;
}
main .cabecalho-contato .formulario-contato h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 20px;
}
main .cabecalho-contato .text-contato {
  margin-top: 20px;
  font-size: 40px;
  text-transform: uppercase;
}
main .cabecalho-contato .formulario-contato form div input {
  border-radius: 30px;
  color: #000 !important;
}
main .cabecalho-contato .curitiba {
  text-align: center;
}
main .cabecalho-contato .curitiba p {
  font-size: 14px;
}
main .cabecalho-contato .sao-paulo {
  margin-left: auto;
  text-align: center;
}
main .cabecalho-contato .sao-paulo p {
  font-size: 14px;
}
main .cabecalho-contato .contato::after {
  content: "";
  width: 200px;
  height: 2px;
  background: #efefef;
  display: block;
  margin: 0 auto;
}
main .cabecalho-contato .contato ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
main .cabecalho-contato .contato ul li {
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
}
main .cabecalho-contato .contato ul li a {
  color: white !important;
}
main .cabecalho-contato .fale-conosco {
  text-align: center;
}
main .cabecalho-contato .fale-conosco h1 {
  margin-top: 45px;
}
main .cabecalho-contato .fale-conosco .link-contato {
  background-color: #7c7da3;
  border-radius: 30px;
}
main .cabecalho-contato .fale-conosco .link-contato a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
main .cabecalho-contato .fale-conosco .text-dpo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .cabecalho-contato .contato::after {
    display: none !important;
  }
  .cabecalho-contato .formulario-contato {
    background-color: #7c7da3;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: 110px;
  }
  .cabecalho-contato .formulario-contato form {
    width: 80%;
  }
  .cabecalho-contato .formulario-contato form div input {
    border-radius: 10px !important;
  }
  .cabecalho-contato .formulario-contato h3 {
    margin-top: 15px !important;
  }
  .cabecalho-contato .fale-conosco .link-contato {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .cabecalho-contato .contato {
    border-right: 3px solid;
  }
}
@media (min-width: 992px) {
  .cabecalho-contato .telefones .curitiba h5, .cabecalho-contato .telefones .joinville h5 {
    font-size: 24px !important;
  }
  .cabecalho-contato .telefones .curitiba p, .cabecalho-contato .telefones .joinville p {
    font-size: 20px;
  }
  .cabecalho-contato .telefones .sao-paulo h5, .cabecalho-contato .telefones .porto-alegre h5 {
    font-size: 24px !important;
  }
  .cabecalho-contato .telefones .sao-paulo p, .cabecalho-contato .telefones .porto-alegre p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .cabecalho-contato .text-contato {
    margin-top: 20%;
  }
  .cabecalho-contato .text-contato h1 {
    font-size: 100px;
  }
  .cabecalho-contato .formulario-contato {
    margin-top: 30%;
  }
}
@media (min-width: 1440px) {
  .cabecalho-contato .formulario-contato {
    margin-top: 30%;
  }
  .cabecalho-contato .text-contato {
    margin-top: 20%;
  }
  .cabecalho-contato .text-contato h1 {
    font-size: 110px;
    text-transform: uppercase;
  }
}
.facaparte-item {
  background-image: url(../img/facaparte-p1.png);
  background-size: cover;
}
.facaparte-item h1 {
  text-transform: uppercase;
  margin-top: 13%;
  margin-bottom: 16%;
}

.sobreposition {
  background: url(../img/facaparte-meio.png) no-repeat;
  background-size: contain;
}
.sobreposition .texto-item {
  position: relative;
  border-radius: 130px;
  height: 180px;
  background-color: rgba(100, 100, 123, 0.6);
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  right: 20px;
}
.sobreposition .texto-item p {
  font-size: 11px;
  width: 120px;
  margin-left: 32px;
  margin-top: 14px;
}
.sobreposition .texto-item p span {
  color: #fff;
}
.sobreposition .banner-circulares {
  background-color: #efefef;
}
.sobreposition .banner-circulares h6 {
  color: #212145;
  margin-top: 12px;
  text-align: center;
}
.sobreposition .banner-circulares img {
  margin-left: 25px;
  width: 190px;
  height: 180px;
  margin-top: 4px;
}

.texto-facaparte {
  background-image: url(../img/facaparte-p2.png);
}
.texto-facaparte .confira {
  text-align: center;
  background-color: #7c7da2;
  border-radius: 15px;
}
.texto-facaparte .confira a {
  text-decoration: none;
  color: white;
}
.texto-facaparte .text-destaque {
  background-color: #535376;
  border-radius: 30px;
}

.facaparte h1 {
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .facaparte .banner-circulares .faca-redessociais {
    margin-bottom: 40px;
  }
  .facaparte .banner-circulares h6 {
    font-size: 20px;
    width: 90%;
    margin-left: 50px;
    margin-top: 56px;
  }
  .facaparte .banner-circulares .imagem-centralizada img {
    margin-left: 50px;
    margin-top: 30px;
    width: 340px;
  }
  .facaparte .texto-item {
    position: relative;
    bottom: 43%;
    left: 41%;
    border-radius: 170px;
    width: 340px;
    height: 340px;
    background-color: rgba(100, 100, 123, 0.8);
  }
  .facaparte .texto-item p {
    font-size: 21px;
    width: 240px;
    margin-left: 59px;
    margin-top: 14px;
  }

  .texto-facaparte .confira {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .facaparte .texto-item {
    bottom: 46%;
    left: 41%;
    border-radius: 210px;
    width: 440px;
    height: 440px;
  }
  .facaparte .texto-item p {
    font-size: 28px;
    width: 350px;
    margin-left: 59px;
    margin-top: 14px;
  }
  .facaparte .banner-circulares .imagem-centralizada img {
    margin-left: 50px;
    margin-top: 30px;
    width: 440px;
  }

  .texto-facaparte p {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .facaparte .banner-circulares .imagem-centralizada img {
    margin-left: 160px;
    margin-top: 30px;
    width: 440px;
  }
  .facaparte .texto-item {
    left: 44%;
  }

  .texto-facaparte p {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .facaparte h1 {
    font-size: 90px;
  }
  .facaparte .banner-circulares h6 {
    margin-top: 106px;
    font-size: 40px;
  }
  .facaparte .banner-circulares .imagem-centralizada img {
    margin-left: 160px;
    margin-top: 30px;
    width: 600px;
  }
  .facaparte .texto-item {
    bottom: 43%;
    left: 42%;
    border-radius: 300px;
    width: 600px;
    height: 600px;
  }
  .facaparte .texto-item p {
    font-size: 37px;
    width: 410px;
    margin-left: 114px;
    margin-top: 14px;
  }

  .texto-facaparte p {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
}
.politica-privacidade {
  background-image: url(../img/politica.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.politica-privacidade .text-politica h1 {
  margin-top: 40%;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
.politica-privacidade .conteudo-politica {
  margin-top: 74%;
}
.politica-privacidade .conteudo-politica .politica-item a {
  color: #212145;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.politica-privacidade .conteudo-politica .politica-item ul li {
  list-style: none;
}

@media (min-width: 768px) {
  .politica-privacidade .conteudo-politica {
    margin-top: 24%;
  }
  .politica-privacidade .conteudo-politica ol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .politica-privacidade .text-politica h1 {
    margin-top: 16%;
  }
}
@media (min-width: 992px) {
  .politica-privacidade .conteudo-politica {
    margin-top: 34%;
  }
  .politica-privacidade .conteudo-politica ol {
    font-size: 30px;
  }
  .politica-privacidade .text-politica h1 {
    margin-top: 16%;
    font-size: 85px;
  }
}
.funso-lisa {
  background: url("../img/fundos/fundo-lisa.jpg") no-repeat;
  padding: 4rem 0;
  background-size: cover;
  background-position: right;
}
.funso-lisa h1 {
  color: #fff;
  width: 293px;
  font-size: 3rem;
  margin: 0 auto;
  font-weight: 400;
}
.funso-lisa a {
  background: #262647;
  padding: 4px 17px;
  margin: 0;
  border-radius: 77px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}
.funso-lisa a:first-child {
  background: #7a7ca7;
}
.funso-lisa .btn-lisa {
  width: 320px;
  margin: 0 auto;
}

.consultoria-lisa {
  background: rgb(54, 34, 72);
  color: #fff;
}
.consultoria-lisa .lisa-text-1 {
  width: 296px;
  margin: 0 auto;
}
.consultoria-lisa .flex-wrap a {
  width: 146px;
  background: #cfd1d2;
  padding: 4px 17px;
  margin: 0;
  border-radius: 77px;
  text-decoration: none;
  cursor: pointer;
  color: #232445;
  font-weight: 700;
}
@media (min-width: 350px) {
  .consultoria-lisa .btns-lisas {
    width: 350px;
    margin: 0 auto;
  }
}
.consultoria-lisa .circo-btn-lisa {
  width: 300px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 850px;
  padding: 120px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.consultoria-lisa .circo-btn-lisa::after {
  content: "";
  background: url("../img/icones/consultoria-lisa-icone.png") no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  top: 0;
  margin-top: 99px;
}
.consultoria-lisa .circo-btn-lisa .box-desafia {
  width: 150px;
  height: 26px;
}
.consultoria-lisa .circo-btn-lisa p {
  width: 150px;
  margin: 0;
  color: #232445;
}
.consultoria-lisa .circo-btn-lisa .tecnologia:before {
  content: "";
  width: 152px;
  background: #fff;
  height: 147px;
  position: absolute !important;
  top: 0;
  left: 50%;
  margin-left: -76px;
  margin-top: -121px;
  border-radius: 161px 0 0 0;
}
.consultoria-lisa .circo-btn-lisa .processos::after {
  content: "";
  width: 151px;
  background: #cfd1d2;
  height: 147px;
  position: absolute !important;
  top: 0;
  left: 50%;
  margin-left: -76px;
  margin-top: -121px;
  border-radius: 0 161px 0 0;
}
.consultoria-lisa .circo-btn-lisa .tecnologia p, .consultoria-lisa .circo-btn-lisa .processos p {
  top: 0;
  margin-top: -55px;
  z-index: 100;
  color: #232445;
}
.consultoria-lisa .circo-btn-lisa .tecnologia p a, .consultoria-lisa .circo-btn-lisa .processos p a {
  text-decoration: none;
  cursor: pointer;
  color: #232445;
  font-weight: 700;
}
.consultoria-lisa .circo-btn-lisa .pessoas::before {
  content: "";
  width: 152px;
  background: #cfd1d2;
  height: 146px;
  position: absolute !important;
  top: 0;
  left: 50%;
  margin-left: -76px;
  margin-top: 0px;
  border-radius: 0 0 0 164px;
}
.consultoria-lisa .circo-btn-lisa .lgpd::after {
  content: "";
  width: 151px;
  background: #fff;
  height: 146px;
  position: absolute !important;
  top: 0;
  left: 50%;
  margin-left: -76px;
  margin-top: 0px;
  border-radius: 0 0 161px 0;
}
.consultoria-lisa .circo-btn-lisa .pessoas p, .consultoria-lisa .circo-btn-lisa .lgpd p {
  top: 0;
  margin-top: 55px;
  z-index: 100;
  color: #232445;
}
.consultoria-lisa .circo-btn-lisa .pessoas p a, .consultoria-lisa .circo-btn-lisa .lgpd p a {
  text-decoration: none;
  cursor: pointer;
  color: #232445;
  font-weight: 700;
}
.consultoria-lisa .box .box-lisa {
  background: #804980;
  width: 296px;
  margin: 0 auto;
  padding: 13px 12px;
  border-radius: 21px;
}
.consultoria-lisa .box .box-lisa p {
  margin: 0;
  padding: 0;
}

.carroucel-lisa {
  background: #232445;
  color: #fff;
  position: relative;
}
.carroucel-lisa .slick-list {
  order: 1;
}
.carroucel-lisa .box-carroucel-lisa {
  margin-top: 41px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa {
  order: 0;
  width: 300px;
  border-radius: 162px;
  background: url(../img/icones/fundo-carroucel.png) no-repeat;
  background-size: 265px;
  background-position: 14px 16px;
  height: 300px;
  border: 2px solid #fff;
  margin: 0 auto;
  margin-bottom: 40px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li {
  list-style: none;
  width: 20px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li button {
  background: #fff;
  border: none;
  background: none;
  position: absolute;
  left: 50%;
  z-index: 150;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control00 {
  top: 0;
  margin-top: 30px;
  margin-left: 25px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control01 {
  margin-top: 70px;
  margin-left: 85px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control02 {
  margin-left: 101px;
  margin-top: 138px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control03 {
  margin-left: 79px;
  margin-top: 205px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control04 {
  margin-left: 24px;
  margin-top: 243px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control05 {
  margin-left: -46px;
  margin-top: 244px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control06 {
  margin-left: -101px;
  margin-top: 204px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control07 {
  margin-left: -124px;
  margin-top: 141px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control08 {
  margin-left: -103px;
  margin-top: 72px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa li #slick-slide-control09 {
  margin-left: -51px;
  margin-top: 29px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active button::before {
  width: 71px;
  height: 100px;
  position: absolute;
  background: url(../img/icones/fundo-numero.png) no-repeat;
  background-size: contain;
  transform: rotate(-37deg);
  top: 0;
  left: 50%;
  margin-left: -33px;
  z-index: -1;
  margin-top: -30px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active button::after {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 7px;
  z-index: -1;
  margin-top: -27px;
  background: #fff;
  border-radius: 50px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control00::before {
  content: "";
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control00::after {
  content: "";
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control01::before {
  content: "";
  transform: rotate(0deg);
  margin-left: -40px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control01::after {
  content: "";
  margin-left: 22px;
  margin-top: -12px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control02::before {
  content: "";
  transform: rotate(37deg);
  margin-left: -40px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control02::after {
  content: "";
  margin-left: 30px;
  margin-top: 9px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control03::before {
  content: "";
  transform: rotate(72deg);
  margin-left: -43px;
  margin-top: -36px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control03::after {
  content: "";
  margin-left: 17px;
  margin-top: 31px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control04::before {
  content: "";
  transform: rotate(107deg);
  margin-left: -43px;
  margin-top: -38px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control04::after {
  content: "";
  margin-left: 4px;
  margin-top: 39px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control05::before {
  content: "";
  transform: rotate(142deg);
  margin-left: -39px;
  margin-top: -44px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control05::after {
  content: "";
  margin-left: -20px;
  margin-top: 37px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control06::before {
  content: "";
  transform: rotate(178deg);
  margin-left: -36px;
  margin-top: -44px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control06::after {
  content: "";
  margin-left: -38px;
  margin-top: 24px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control07::before {
  content: "";
  transform: rotate(212deg);
  margin-left: -33px;
  margin-top: -44px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control07::after {
  content: "";
  margin-left: -42px;
  margin-top: 8px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control08::before {
  content: "";
  transform: rotate(249deg);
  margin-left: -30px;
  margin-top: -40px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control08::after {
  content: "";
  margin-left: -40px;
  margin-top: -14px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control09::before {
  content: "";
  transform: rotate(287deg);
  margin-left: -30px;
  margin-top: -35px;
}
.carroucel-lisa .box-carroucel-lisa .numeros-lisa .slick-active #slick-slide-control09::after {
  content: "";
  margin-left: -18px;
  margin-top: -31px;
}
.carroucel-lisa .box-carroucel-lisa .box-lisa-carroucel div {
  width: 296px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
