.funso-lisa{
    background: url("../img/fundos/fundo-lisa.jpg") no-repeat;
    padding: 4rem 0;
    background-size: cover;
    background-position: right;
    h1{
        color: #fff;
        width: 293px;
        font-size: 3rem;
        margin: 0 auto;
        font-weight: 400;
    }
    a{
        background: #262647;
        padding: 4px 17px;
        margin: 0;
        border-radius: 77px;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        font-weight: 700;
    }
    a:first-child{
        background: #7a7ca7;
    }
    .btn-lisa{
        width: 320px;
        margin: 0 auto;
    }
}
.consultoria-lisa{
    background: rgb( 54, 34, 72);
    color: #fff;
    img{
        width: 320px;
        margin: 0 auto;
    }
    .lisa-text-1{
        width: 296px;
        margin: 0 auto;
    }
    .flex-wrap{
        a{
            width: 146px;
            background: #cfd1d2;
            padding: 4px 17px;
            margin: 0;
            border-radius: 77px;
            text-decoration: none;
            cursor: pointer;
            color: #232445;
            font-weight: 700;
        }
    }
    .btns-lisas{
        @media (min-width: 350px) {
            &{
                width: 350px;
                margin: 0 auto;
            }
        }
    }
    .circo-btn-lisa{
        width: 300px;
        margin: 0 auto;
        background:#ffffff;
        border-radius: 850px;
        padding: 120px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &::after{
            content: "";
            background: url("../img/icones/consultoria-lisa-icone.png") no-repeat;
            position:absolute;
            width: 100px;
            height: 100px;
            background-size: contain;
            top: 0;
            margin-top: 99px;
        }
        .box-desafia{
            width: 150px;
            height: 26px;
        }
        p{
            width: 150px;
            margin: 0;
            color: #232445;
        }
        .tecnologia:before{
            content: "";
            width: 152px;
            background:#fff;
            height: 147px;
            position: absolute !important;
            top: 0;
            left: 50%;
            margin-left: -76px;
            margin-top: -121px;
            border-radius: 161px 0 0 0;
        }

        .processos::after{
            content: "";
            width: 151px;
            background:#cfd1d2;
            height: 147px;
            position: absolute !important;
            top: 0;
            left: 50%;
            margin-left: -76px;
            margin-top: -121px;
            border-radius: 0 161px 0 0;
        }
        .tecnologia,.processos {
            p{
                top: 0;
                margin-top: -55px;
                z-index: 100;
                color: #232445;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    color: #232445;
                    font-weight: 700;
                }
            }

        }

        .pessoas::before{
            content: "";
            width: 152px;
            background: #cfd1d2;
            height: 146px;
            position: absolute !important;
            top: 0;
            left: 50%;
            margin-left: -76px;
            margin-top: 0px;
            border-radius: 0 0 0 164px;

        }
        .lgpd::after{
            content: "";
            width: 151px;
            background:#fff;
            height: 146px;
            position: absolute !important;
            top: 0;
            left: 50%;
            margin-left: -76px;
            margin-top: 0px;
            border-radius: 0 0 161px 0;
        }
        .pessoas,.lgpd{
            p{
                top: 0;
                margin-top: 55px;
                z-index: 100;
                color: #232445;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    color: #232445;
                    font-weight: 700;
                }
            }
        }
    }
    .box{
        .box-lisa{
            background:#804980;
            width: 296px;
            margin: 0 auto;
            padding: 13px 12px;
            border-radius: 21px;

            p{
                margin: 0;
                padding: 0;
            }
        }
    }
}
.carroucel-lisa{
    background: #232445;
    color: #fff;
    position: relative;
    .slick-list{
        order: 1;
    }
    .box-carroucel-lisa{
        margin-top: 41px;
        .numeros-lisa{
            order: 0;
            width: 300px;
            border-radius: 162px;
            background: url(../img/icones/fundo-carroucel.png) no-repeat;
            background-size: 265px;
            background-position: 14px 16px;
            height: 300px;
            border: 2px solid #fff;
            margin: 0 auto;
            margin-bottom: 40px;
            li{
                list-style: none;
                width: 20px;                
                button{
                    background: #fff;
                    border: none;
                    background: none;  
                    position: absolute;
                    left: 50%;
                    z-index: 150;
                }
                #slick-slide-control00{
                    top: 0;
                    margin-top: 30px;
                    margin-left: 25px;
                }
                #slick-slide-control01{
                    margin-top: 70px;
                    margin-left: 85px;
                }
                #slick-slide-control02{
                    margin-left: 101px;
                    margin-top: 138px;
                }
                #slick-slide-control03{
                    margin-left: 79px;
                    margin-top: 205px;
                }
                #slick-slide-control04{
                    margin-left: 24px;
                    margin-top: 243px;
                }
                #slick-slide-control05{
                    margin-left: -46px;
                    margin-top: 244px;
                }
                #slick-slide-control06{
                    margin-left: -101px;
                    margin-top: 204px;
                }
                #slick-slide-control07{
                    margin-left: -124px;
                    margin-top: 141px;
                }
                #slick-slide-control08{
                    margin-left: -103px;
                    margin-top: 72px;
                }
                #slick-slide-control09{
                    margin-left: -51px;
                    margin-top: 29px;
                }
            }
            .slick-active{
                button::before{
                    width: 71px;
                    height: 100px;
                    position: absolute;
                    background: url(../img/icones/fundo-numero.png) no-repeat;
                    background-size: contain;
                    transform: rotate(-37deg);
                    top: 0;
                    left: 50%;
                    margin-left: -33px;
                    z-index: -1;
                    margin-top: -30px;
                }
                button::after{
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: 7px;
                    z-index: -1;
                    margin-top: -27px;
                    background: #fff;
                    border-radius: 50px;
                }
                #slick-slide-control00::before{
                    content: "";
                }
                #slick-slide-control00::after{
                    content: "";
                    
                }
                #slick-slide-control01::before{
                    content: "";
                    transform: rotate(0deg);
                    margin-left: -40px;
                }
                #slick-slide-control01::after{
                    content: "";
                    margin-left: 22px;
                    margin-top: -12px;
                }
                #slick-slide-control02::before{
                    content: "";
                    transform: rotate(37deg);
                    margin-left: -40px;
                }
                #slick-slide-control02::after{
                    content: "";
                    margin-left: 30px;
                    margin-top: 9px;
                }
                #slick-slide-control03::before{
                    content: "";
                    transform: rotate(72deg);
                    margin-left: -43px;
                    margin-top: -36px;
                }
                #slick-slide-control03::after{
                    content: "";
                    margin-left: 17px;
                    margin-top: 31px;
                }
                #slick-slide-control04::before{
                    content: "";
                    transform: rotate(107deg);
                    margin-left: -43px;
                    margin-top: -38px;
                }
                #slick-slide-control04::after{
                    content: "";
                    margin-left: 4px;
                    margin-top: 39px;
                }
                #slick-slide-control05::before{
                    content: "";
                    transform: rotate(142deg);
                    margin-left: -39px;
                    margin-top: -44px;
                }
                #slick-slide-control05::after{
                    content: "";
                    margin-left: -20px;
                    margin-top: 37px;
                }
                #slick-slide-control06::before{
                    content: "";
                    transform: rotate(178deg);
                    margin-left: -36px;
                    margin-top: -44px;
                }
                #slick-slide-control06::after{
                    content: "";
                    margin-left: -38px;
                    margin-top: 24px;
                }
                #slick-slide-control07::before{
                    content: "";
                    transform: rotate(212deg);
                    margin-left: -33px;
                    margin-top: -44px;
                }
                #slick-slide-control07::after{
                    content: "";
                    margin-left: -42px;
                    margin-top: 8px;
                }
                #slick-slide-control08::before{
                    content: "";
                    transform: rotate(249deg);
                    margin-left: -30px;
                    margin-top: -40px;
                }
                #slick-slide-control08::after{
                    content: "";
                    margin-left: -40px;
                    margin-top: -14px;
                }

                #slick-slide-control09::before{
                    content: "";
                    transform: rotate(287deg);
                    margin-left: -30px;
                    margin-top: -35px;
                }
                #slick-slide-control09::after{
                    content: "";
                    margin-left: -18px;
                    margin-top: -31px;
                }
            }
        }
        .box-lisa-carroucel{
            div{
                width: 296px ;
                margin: 0 auto;
            }
        }
    }
}