header div  nav .menu-principal{
    list-style: none;
    padding: 0;
    .sub-menu li{
        list-style: none;
    }
} 
header div  nav .menu-principal .menu-principal-item{
    margin-top: 5px;
    margin-bottom: 5px;
}