.fa-angle-down{
    color: #fff !important;
}
.cabecalho{
    div{
        nav{
            i{
                padding: 10px 0;
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: end;
                li{
                    margin-right: 12px;
                }
            }
        }
    }
    .open{
        right: 0;
        transition:all .5s;
        overflow: hidden;
    }
    .fechar{
        z-index:112;
        font-size: large;
    }
        
}
.menu-principal{
    list-style: none;
    padding: 0;
}
@media (max-width: 767px){
    .menu-principal{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5aade4;
        right: -114%;
        transition:all 0.5s;
        z-index: 100;
        padding-top: 61px;
        overflow: hidden;
        top: 0%;
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 13px;
            a{
                color: #fff;
            }
        }
   
    }
}
@media(min-width:768px){
   .cabecalho{
    i{
        display: none;
    }
    ul{
        flex-direction: row!important;
        padding: 12px;
        margin: 0;
    }
   }
}
@media(min-width:992px){
   
    
}
@media(min-width:1200px){
    
}
@media(min-width:1440px){
    
}

