.menu-principal{
    list-style: none;
    background-color: #262647;
    padding: 0;
    .menu-principal-item{ 
        i{
            margin-left: 12px;
            color:#8a4d93
        }
        a{
            text-decoration: none;
            color: white !important;
            margin-left: 8px;
        }
    }
    .sub-menu{
        background-color: #7a7ca7;
        li{
            list-style: none;
            margin-bottom: 5px;
            a{
                text-decoration: none !important;
                color: white;
                margin: 0;
            }
        }
        li::after{
            content: '';
            width: 200px;
            height: 2px;
            background: #efefef;
            display: block;
            margin-right: 13px;
        }
    } 
} 
.menu-principal .menu-principal-item{
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (max-width: 768px){
    .cabecalho{
        background-color: #262647;
        nav{
            i{
                font-size: 26px;
            }
            img{
                width: 190px;
            }
            .open{
                right: 0;
                transition:all .5s;
                overflow: hidden;
            }
            .fechar{
                z-index:112;
            }
        }
    }
    .menu-principal{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        right: -114%;
        transition:all .5s;
        z-index: 100;
        padding-top: 149px;
        overflow: hidden;
        top: 0;
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 16px;
            a{
                color: #fff;
            }
        }
   
    }
}
@media(min-width:992px){
    .menu-principal{
        display: flex;
        background: none !important;
        .menu-principal-item{
            i{
                display: none; //icones flechas do mobile
            }
            a{
                margin-left: 9px !important;
            }
            .sub-menu{
                height: 98%;
            }
        }
    }
    .cabecalho{
        background-color: #262647;
        //background: url(../img/menu-topo.png)no-repeat;
        //background-size: cover;
        img{
            width: 27%;
        }
        .abrir,.fechar{
            display: none;
        }
        .pesquisar{
            margin-bottom: 15px;
            margin-left: 8px;
        }
    }
}
@media(min-width:1200px){
    .menu-principal{
        margin-right: 30px;
        .menu-principal-item{
            a{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }
    .cabecalho{
        img{
            width: 25%;
        }
    }
}
@media(min-width:1440px){
    .menu-principal{
        align-items: center;
        li{
            font-size: 26px;
            a{
                padding-right: 15px;
            }
        }
    }
    .cabecalho{
        img{
            width: 24%;
        }
    }
}


