footer div .redes-sociais{
        display: flex;
        list-style: none;
        padding: 0;
        margin-right: auto;
}
footer div .redes-sociais li{
    padding: 5px;
    font-size: 25px;
}
footer .rodape{
    background-color: #242545; 
    img{
        width: 150px;
        height: 50px;
        margin-top: 10px;
    }
    ul{
        li{
            margin-left: 3px;
            margin-right: 3px;
            a{
                color: white !important;
                font-size: 25px;
            }
        }
    }
}
@media(min-width:768px){
    footer div .redes-sociais{
        margin: 0!important;
        li{
            a{
                font-size: 25px;
            }
        } 
    } 
   .rodape{
        img{
            margin-top: 1px !important;
        }
   }
}
@media(min-width:1440px){
    .redes-sociais{
        li{
            a{
                font-size: 35px !important;
            }
        }
    }
    .rodape{
        img{
            margin-top: 4px !important;
        }
   }
}