footer div .redes-sociais{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0 auto;
}
footer div .redes-sociais li{
    padding: 5px;
    font-size: 25px;
}
footer .rodape{
    background-color: #5aade4; 
    img{
        width: 150px;
        height: 50px;
        margin-top: 10px;
    }
    ul{
        li{
            margin-left: 3px;
            margin-right: 3px;
            a{
                color: white !important;
                font-size: 25px;
            }
        }
    }
}
@media(min-width:768px){
   
}
@media(min-width:1440px){
   
}